@use 'reset';
@use 'vars';

body {
  background-color:rgb(233, 251, 255);
}

.app {
  width: 30vw;
  margin: 1em auto;
  text-align: center;
}

.searchbar {
  margin: 2rem;
  }

.message {
  font-size: 1.5rem;
  padding: 2rem;
  width: 30vw;
}


/**===========================================*/
/**               Media Queries               */
/**===========================================*/

/** width 760px max */
@media screen and (max-width: 760px) {
  .app {
    width: 80vw;
  }
  
  img {
    width: 80vw;
  }

  .message {
    font-size: 1.4rem;
    width: 80vw;
  }

}

/** width 761px --> 1400px */
@media screen and (min-width: 761px) and (max-width: 1400px) {
  .app {
    width: 50vw;
  }
  
  img {
    width: 50vw;
  }

  .message {
    padding: 2rem;
    width: 50vw;
  }
}
